<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h1>Available News</h1>
    <ul>
        {% for news in news_list %}
            <li>
                <h2>{{ news.News_Title }}</h2>
                <img src="{{ news.News_Image.url }}" alt="News Image">
                <p>{{ news.News_Body }}</p>
                <p><strong>Author:</strong> {{ news.Author }}</p>
                <p><strong>Date:</strong> {{ news.Date }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>